.banner-titulo {
  color: white;
  font-family: pacifico, cursive;
  /* font-size: 5.0625rem; */
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  width: 100%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 0) {
  .banner-titulo {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .banner-titulo {
    font-size: 5.0625rem;
  }
}
