.persona__imagen--roberta {
  background: url("../../img/personas/roberta.jpg");
}

.persona__imagen--marcela {
  background: url("../../img/personas/marcela.jpg");
}
.persona__imagen--andrea {
  background: url("../../img/personas/andrea.jpg");
}

.persona__imagen {
  /*configuracion para ver mis imagenes anteriormente insertadas en circulo*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 300px;
  width: 300px;
}
